<form action="" method="post">
  <div>
    <label for="dim_one1">Enter the dimensions of the first matrix: </label>
    <input type="number" name="dim_one1" id="dim_one1" required>
    <input type="number" name="dim_one2" id="dim_one2" required>
  </div>
  <div>
    <label for="dim_two1">Enter the dimensions of the second matrix: </label>
    <input type="number" name="dim_two1" id="dim_two1" required>
    <input type="number" name="dim_two2" id="dim_two2" required>
  </div>
  <div>
    <label for="matrix1">Enter the first matrix by elements from upper left to lower right: </label>
    <input type="text" name="matrix1" id="matrix1" required>
  </div>
  <div>
    <label for="matrix2">Enter the second matrix by elements from upper left to lower right: </label>
    <input type="text" name="matrix2" id="matrix2" required>
  </div>
  <div>
    <input type="submit" value="Multiply!">
  </div>
</form>